/* 
    Decimos que un contenido se desborda cuando la caja es mas pequeña que el contenedor.
    Overflow:
        Es la propiedad que controla que debe hacer la caja cuando su contenido se desborda del contenedor.
        Es un shorthand que engloba overflow-x y overflow-y.
        Tiene 4 posibles valores:
            visible -> Es el valor por defecto.
            hidden -> El contenido que se desborde no se va a ver. Si aplicamos esta propiedad en un solo eje, el otro se pondra automaticamente en el valor scroll.
            scroll-> Aparaeceran las barras de scroll en el eje asignado (X, Y o ambos).
            auto -> Apareceran barras de scroll en el caso que hicieran falta.
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    color: #000;
    overflow: auto; /* Lo mas comun es que se utilice asi, pero tambien se puede ver: overflow-y: auto; */
}

.text{
    width: 350px;
}